repos:
  - repo: local
    hooks:
      - id: fix non-ascii quotes
        name: fix-non-ascii-quotes
        language: python
        entry: scripts/fix-non-ascii-quotes.py
        types: [json]
        pass_filenames: true
      - id: check-no-additional-properties
        name: check-no-additional-properties
        language: script
        entry: scripts/check-for-additional-properties
        types: [json]
        pass_filenames: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: no-commit-to-branch
        args: [-b, main]
      - id: check-yaml
      - id: check-json
      # TODO: re-enable this, for some reason this is causing issues in gh actions removing escape sequences in regex patterns see https://github.com/massdriver-cloud/artifact-definitions/runs/6714761323?check_suite_focus=true
      #- id: pretty-format-json
      #  args: ["--autofix", "--no-sort-keys"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.17.0
    hooks:
      - id: check-github-workflows
      - id: check-jsonschema
        name: "Check all definitions are valid JSON Schema"
        files: ^definitions/artifacts
        types: [json]
        args: ["--check-metaschema"]
      - id: check-jsonschema
        name: "Check Artifact Definitions are valid"
        files: ^definitions/artifacts
        types: [json]
        args: ["--schemafile", "artifact-definition-metaschema.json"]
