name: Publish artifacts to Massdriver (stable)

on:
  push:
    tags:
      - "release-*"

jobs:
  publish_to_massdriver:
    name: Build and publish artifacts to Massdriver (stable)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2


      - name: Install Massdriver CLI
        uses: massdriver-cloud/actions/setup@v5

      - name: Build and Publish
        run: cd definitions/artifacts && for artifact in *.json; do mass definition publish ${artifact}; done
        env:
          MASSDRIVER_API_KEY: ${{ secrets.MASSDRIVER_STABLE_RELEASE_CHANNEL_API_KEY }}
          MASSDRIVER_ORGANIZATION_ID: ${{ secrets.MASSDRIVER_STABLE_RELEASE_CHANNEL_ORGANIZATION_ID }}
